[submodule "libs/bignum-sub-bignum"]
	path = libs/bignum-sub-bignum
	url = https://github.com/kirill-bayborodov/bignum-sub-bignum.git
[submodule "libs/bignum-shift-right"]
	path = libs/bignum-shift-right
	url = https://github.com/kirill-bayborodov/bignum-shift-right.git
